//===========================================
	// -Variables start
//===========================================

// Colors start
$white:			#fff; //white
$black:			#000; //black
$mine-shaft:	#3a3a3a; // dark gray
$maroon-flush:	#d3205a; // Default Brand Color
$primary-color: #333;
$blue-color:#007af3;

// Typography
$font-default:	'Roboto', sans-serif;
$font-primery:	"Montserrat";
$font-header: 'Leckerli One', cursive;
$lato:"Lato Regular";


// Break Pointss
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//===========================================
	// -Variables end
//===========================================
